/* =========================================
FOOTER
============================================ */

footer{
	width: 100%;
	display: flex;
	background: -webkit-linear-gradient(to top, #eb3349, #f45c43); 
  background: linear-gradient(to top, #eb3349, #f45c43); 
	position: fixed;
	bottom: 0;
	right: 0;
}

.credits{
	font-family: $sans;
	display:flex;
	justify-content: flex-start;
	color: white;
	align-items: center;
	font-size:1.5rem;
	letter-spacing: 1px;
	ul{
		margin-left: auto;
	}
	li{
		font-size: 2.5rem;
		padding:0 10px;
	}
	span{
		font-size: 2.5rem;
		margin-left: 3px;
	}
	a{
		color:inherit;
		transition: color 0.3s ease-in-out
	}
	a:hover{
		color: $accent-blue;
	}
}
