/* =========================================
FOOTER
============================================ */

footer{
	border: 1px solid hotpink;
	width: 100%;
	display: flex;
	background-color: blueviolet;
	padding: 10px;
	position: fixed;
	bottom: 0;
	right: 0;
}

.credits{
	border: 1px solid black;
	display:flex;
	justify-content: flex-end;
	color: white;
	align-items: center;
}