/* =========================================
GALLERY
============================================ */

.gallery{
	margin: 30px auto;
	width: 60%;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 2px 2px 2px $darkshade;
	color: $darkshade;
	padding: 30px;
	p{
		font-family: $sans;
		font-size: 1.6rem;
	}
		@include mq(med){
		flex-direction:column;
		margin-bottom: 80px;
	}
	@include mq(sm){
		margin-bottom: 120px;
	}
}

.section__header{
	font-family: $heading;

}

.photoGallery{
	display:flex;
	flex-flow: row wrap;
}

.galleryImage{
	width: 30%;
	height: auto;
	object-fit: cover;
}