/* =========================================
HEADER
============================================ */

header{
	background-color: $accent-green;
}

.header__content{
	display:flex;
	align-items: center;
	justify-content: space-around;
	color: white;
}

.header__text{
	font-size: 3rem;
}

.main__nav{
	font-family: $sans;
	li{
		padding: 10px;
		font-size: 1.4rem;
	}
}