/* =========================================
HEADER
============================================ */

header{
	background: -webkit-linear-gradient(to bottom, #eb3349, #f45c43); 
  background: linear-gradient(to bottom, #eb3349, #f45c43); 

}

.header__content{
	display:flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	padding: 0 5%;
}

