/* =========================================
MAIN STYLES
============================================ */

ul{
	display:flex;
}

.PhotoWrapper{
	display:flex;
}

.photoWrapper__section{
	margin: 20px;
}

.photoContainer{
	background: transparent;
	width:50%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.filterInputs{
	background-color: $neutral;
	text-align: center;
	border: 1px solid green;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding: 10px;
	width: 45%;
}


.filterButtons{
	border: 1px solid yellow;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.hidden{
	display:none;
}