/* =========================================
MAIN STYLES
============================================ */

ul{
	display:flex;
}

.PhotoWrapper{
	display:flex;
}

.photoContainer{
	width:60%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.filterInputs{
	text-align: center;
	border: 1px solid green;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding: 10px;
}


.filterButtons{
	border: 1px solid yellow;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.hidden{
	display:none;
}