/* =========================================
MAIN STYLES
============================================ */



.PhotoWrapper{
	display:flex;
	flex-direction:row nowrap;
	@include mq(med){
		flex-direction:column;
		margin-bottom: 80px;
	}
	@include mq(sm){
		margin-bottom: 120px;
	}
}

.photoWrapper__section{
	margin: 0 20px 20px;
}

.photoContainer{
	background: transparent;
	width:55%;
	display:flex;
	justify-content: center;
	align-items: center;
	@include mq(med){
		order: 1;
		width: 90%;
		margin: 0 auto;
	}
}

.filterInputs{
	background-color: transparent;
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	width: 40%;
	flex-shrink:2;
		@include mq(med){
		order: 2;
		width: 90%;
		margin: 0 auto;
	}
}

.filterButtons{
	display: flex;
	flex-flow: row wrap;
	align-items: space-between;
	justify-content: space-between;
}

.unstagramImage{
	max-height: 550px;
}
