/* =========================================
TYPOGRAPHY STYLES
============================================ */

/* ------------  FONT VARIABLES  ------------ */

$cursive: 'Sacramento', cursive;
$heading: 'Fjalla One', sans-serif;
$sans: 'Lato', sans-serif;



/* ------------  BASE STYLES  ------------ */


h1{
	display: inline-block;
	font-family: $heading;
}

h2{
	text-align: center;
	font-family: $heading;
}

.cursive{
	font-family: $cursive;
}

.header__bold,
.header__cursive{
	display:inline-block;
	margin: 15px 0;
}

.header__logo{
	font-size: 3rem;
	display:flex;
	justify-content: center;
}

.main__nav{
	font-family: $sans;
	li{
		padding: 15px;
		font-size: 1.8rem;
	a{
		color:inherit;
		transition: color 0.3s ease-in-out
	}
	a:hover{
		color: $accent-blue;
	}
	}
}