/* =========================================
TYPOGRAPHY STYLES
============================================ */

/* ------------  FONT VARIABLES  ------------ */

$cursive: 'Sacramento', cursive;
$heading: 'Lato', sans-serif;
$sans: 'Lato', sans-serif;



/* ------------  BASE STYLES  ------------ */


h1{
	display: inline-block;
	font-family: $heading;
}

h2{
	text-align: center;
	font-family: $heading;
	font-weight: 900;
}

	p {
		font-family: $sans;
		font-size: 1.6rem;
	}

.cursive{
	font-family: $cursive;
}

.header__bold,
.header__cursive{
	display:inline-block;
	margin: 15px 0;
}

.header__logo{
	font-size: 3rem;
	display:flex;
	justify-content: center;
}

.main__nav{
	font-family: $sans;
	li{
		font-size: 1.8rem;
	a{
		color:inherit;
		transition: color 0.3s ease-in-out
	}
	a:hover{
		color: $accent-blue;
	}
	}
}
.section__header{
	font-family: $heading;
	font-weight: 700;
	font-size:3rem;
}

.section__cursive{
	font-size:4rem;
}