/* =========================================
UTILS
============================================ */

button{
	font-family: $sans;
	border: 1px solid black;
	border-radius:0px;

	box-shadow: 2px 2px 2px black;
	background: white;
	padding: 10px;
}

button:hover{
	cursor: pointer;
	background: lightpink;
}

// input[type=file]{
// 	display:none
// }

.btn__filter{
	min-width: 100px;
	width:40%;
	margin: 5%;
}

.btn__submit{
	color: black;
}