/* =========================================
UTILS
============================================ */

button{
	font-family: $sans;
	border: 1px solid black;
	border-radius:0px;

	box-shadow: 2px 2px 2px black;
	background: white;
	padding: 10px;
}

button:hover{
	cursor: pointer;
	background: green;
}


.btn__filter{
	display: block;
	min-height: 30px;
	min-width: 100px;
	width:40%;
	margin: 20px;
}

.btn__submit{
	color: black;
}