/* =========================================
UTILS
============================================ */

button{
	font-family: $sans;
	border: 1px solid $darkshade;;
	border-radius:0px;
	box-shadow: 2px 2px 2px $darkshade;
	text-transform: uppercase;
	font-size: 1.4rem;
	position:relative;
	overflow: hidden;
	background: white;
}

button:hover{
	cursor: pointer;
}

.btn__filter{
	display: block;
	min-height: 40px;
	min-width: 100px;
	width:48%;
	margin: 10px 0;
	padding: 20px;
}


.btn__utility{
	@extend button;
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}

.fileInput{
display:block;
text-align: center;
width: 0.1px;
height: 0.1px;
overflow:hidden;
}
