
/* =========================================
VARIABLES & MIXINS
============================================ */

/* ------------  COLORS  ------------ */

$darkshade: #363537;
$accent-blue: #623cea;

/* =========================================
RESPONSIVE MIXINS
============================================ */
// Breakpoints 

$sm: 600px;
$med: 750px;

// Media Queries

@mixin mq($break){
    @if $break == 'sm'{
		@media(max-width: $sm){
		@content;
			}
  } 
    @else if $break == 'med'{
		@media(max-width: $med){
		@content;
	}
    } 

}