/* =========================================
UGLYGRAM - the Instragram for Hideousness!
Project by Laura-Louise Tobin
Hacker You Web Development Bootcamp 
============================================ */
@import 'setup';
@import 'var-mix';
@import 'typography';
@import 'utils';

@import 'header';
@import 'photoWrapper';
@import 'about';
@import 'gallery';
@import 'footer';

/* ------------  BASE  ------------ */

html{
	font-size: 62.5%;
}

img{
	max-width: 100%;
	display: block;
}

a{
	text-decoration: none;
	color:inherit;
	&:visited{
		color: inherit;
	}
}

ul,
ol{
	list-style: none;
	-webkit-padding-start: 0px;
	-moz-padding-start: 0px
}

.wrapper{
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
}

body{
	background-color:#f45c43;
}

